.form-container {
    display: flex;
    flex-direction: column; /* إضافة flex-direction: column لوضع العنوان أعلى النموذج */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vh;
    background-color: #f4f4f9;
  }
  
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 5%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .ff{
    background-color: gray !important
  }
